@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* colores y configuracion estandar */
@import url("Color-StandardSettings.css");
/* importacion de styles del header */
@import url("header.css");
/* importacion de styles del footer */
@import url("footer.css");

body {
  min-width: 576px;
}

main {
  margin: 0;
  padding: 0;
}

section {
  height: 500px;
  text-align: center;
  color: white;
}

.secPSB-01 {
  background-color: var(--bg-card-color);
  height: 400px;
}

.secPSB-01 div {
  margin: 0 20%;
}
.secPSB-02,
.secPSB-04,
.secPSB-05,
.secPSB-06,
.secPSB-07,
.secPSB-09,
.secPSB-10,
.secPSB-11,
.secPSB-12,
.secPSB-14 {
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
}

.secPSB-02 {
  background-image: url("../img/Console/razer-wolverine-v2-pro-black-white-category-1920x700-desktop.jpg");
}

.secPSB-02 div,
.secPSB-04 div,
.secPSB-06 div,
.secPSB-07 div,
.secPSB-09 div,
.secPSB-10 div,
.secPSB-11 div,
.secPSB-12 div,
.secPSB-14 div {
  margin-top: 5%;
}

.secPSB-01 div h1,
.secPSB-02 div h1,
.secPSB-04 div h1,
.secPSB-06 div h1,
.secPSB-07 div h1,
.secPSB-09 div h1,
.secPSB-10 div h1,
.secPSB-11 div h1,
.secPSB-12 div h1,
.secPSB-14 div h1 {
  font-size: 60px;
}

.secPSB-03,
.secPSB-08 {
  height: 700px;
}

.secPSB-03 .bgHH1,
.secPSB-03 .bgHH2,
.secPSB-08 .bgHH1,
.secPSB-08 .bgHH2 {
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
}

.secPSB-03 .bgHH1 {
  background-image: url("../img/Console/razer-hammerhead-hyperspeed-xbox-category_558x587.jpg");
}

.secPSB-03 .bgHH2 {
  background-image: url("../img/Console/razer-hammerhead-hyperspeed-playstation-category_558x587.jpg");
}

.secPSB-04 {
  background-image: url("../img/Console/razer-xbox-controller-and-charging-stand-1920x700-desktop.jpg");
}

.secPSB-03 .bgHH1 a:hover,
.secPSB-03 .bgHH2 a:hover,
.secPSB-02 div a:hover,
.secPSB-04 div a:hover,
.secPSB-05 div a:hover,
.secPSB-06 div a:hover,
.secPSB-07 div a:hover,
.secPSB-09 div a:hover,
.secPSB-10 div a:hover,
.secPSB-11 div a:hover,
.secPSB-12 div a:hover,
.secPSB-14 div a:hover {
  color: var(--optimus-primary);
  font-size: 18px;
  text-shadow: 0rem 0rem 0.4rem var(--bg-OptimusT);
}

.secPSB-05 {
  background-image: url("../img/Console/nbcf-partnership-1920x400.jpg");
  height: 400px;
}

.secPSB-06 {
  background-image: url("../img/Console/stormtrooper-1920x700-desktop.jpg");
}

.secPSB-07 {
  background-image: url("../img/Console/sonic-the-hedgehog-xbox-controller-and-charging-stand-1920x700-desktop.jpg");
}

.secPSB-08 .bgHH1 {
  background-image: url("../img/Console/razer-universal-quick-charging-stand-xbox-500x500-usca.jpg");
  /* background-repeat: no-repeat;
  background-position: center top; */
}
.secPSB-08 .bgHH2 {
  background-image: url("../img/Console/razer-quick-charging-for-ps5-category-latest.jpg");
  /* background-repeat: no-repeat;
  background-position: center top; */
}

.secPSB-09 {
  background-image: url("../img/Console/gamesetmatch-category-1920x700-desktop.jpg");
}

.secPSB-10 {
  background-image: url("../img/Console/razer-kaira-pro-category-desktop.jpg");
}

.secPSB-11 {
  background-image: url("../img/Console/razer-wolverine-v2-chroma-category-1920x700-desktop.jpg");
}

.secPSB-12 {
  background-image: url("../img/Console/connect-compete-conquer-category-1920x700-desktop.jpg");
}

.secPSB-14 {
  background-image: url("../img/Console/console-gamepads-engineered-category-desktop.jpg");
  height: 300px;
}

@media (max-width: 960px) {
  .secPSB-03 .bgHH1,
  .secPSB-03 .bgHH2 {
    background-position: center right;
  }
}
