/*---Main---*/

div.title{
    background-image: url(../img/Desktop-img/desktop.bg.img2.jpg);
    background-size: 100%;
    height: 700px;
    margin: 20px;
    background-repeat: no-repeat;
    
}


h1.textTitle1:hover{
    background-color: black;
}

h1.textTitle1{
    width: 600px;
    height: 50px;
    position: relative;
    animation: mymove 7s infinite;
    animation-direction: alternate-reverse;
    animation-timing-function:ease-in-out;
    
}
@keyframes mymove {
    from {top: -250px;}
    to {top: 150px;}
  }
/*---Main---*/