/*---Main---*/

div.title{
    background-image: url(../img/Desktop-img/desktop.bg.img2.jpg);
    background-size: 100%;
    height: 700px;
    margin: 20px;
    background-repeat: no-repeat;
    color: var(--title-color);
}


.animationTitle{
    width: 600px;
    height: 50px;
    position: relative;
    animation: mymove 7s infinite;
    animation-direction: alternate-reverse;
    animation-timing-function:ease-in-out;  
}
@keyframes mymove {
    from {left: 0px;}
    to {left: 750px;}
  }

h1.animationTitle{
    color: var(--title-color);
}

div.carouselClass{
    background-color: var(#00000033);
}

/*---Main---*/