/* font de google Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* colores y configuracion estandar */
@import url("Color-StandardSettings.css");

/*-------------- Css for Header -----------------*/
header {
  position: fixed;
  width: 100%;
  z-index: 100000;
  background: var(--bg-header-color);
}

a {
  color: #555;
  text-decoration: none;
}

.lgtxt,
.redesIcon {
  color: var(--optimus-primary) !important;
  text-shadow: 0rem 0rem 0.2rem var(--optimus-primary);
}

/*-------------- Css for navbard -----------------*/
.dropdown-menu.show {
  width: 20rem;
}
.navbar-nav li a {
  font-size: 1.1rem;
  /* color: var(--title-color) !important; */
}
li.lowbar::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 3px;
  background: var(--text-color) !important;
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform 0.5s;
}

li.lowbar:hover:after {
  transform-origin: top;
  transform: scaleX(1);
}

@media (max-width: 991px) {
  li.lowbar::after {
    width: 0;
  }
  li.lowbar:hover:after {
    transform-origin: top;
    transform: scaleY(1);
  }
}

.btnLogin-popup {
  margin: 0 5px;
  width: 50px;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 6px;
  font-size: 1.1rem;
  color: var(--title-color);
  transition: 0.5s;
}

.btnLogin-popup:hover {
  background-color: var(--optimus-primary);
  color: var(--title-color);
}
.bi-person-circle,
.bi-search {
  font-size: 20px;
  color: var(--br-btn-color);
}

/*-------------- Css for account -----------------*/

.wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  /* centra un fixed en la pantalla */
  left: 0;
  right: 0;
  top: 150px;
  margin: 0 auto;
  /* fin  del centrado */
  padding: 30px;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid var(--br-form-color);
  border-radius: 20px;
  backdrop-filter: blur(25px);
  box-shadow: 0 0 30px var(--bShadow-form-color);
  overflow: hidden;
  transform: scale(0);
  z-index: 10000;
  transition: transform 0.4s ease, height 0.2s ease;
}

.wrapper.active-popup {
  transform: scale(1);
}

.wrapper.active {
  top: 100px;
  height: 700px;
}

.wrapper .formBox {
  width: 100%;
  /* height: 40px; */
}

.formBox.login {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.wrapper.active .formBox.login {
  transition: none;
  transform: translateX(-400px);
}

.formBox.register {
  padding: 30px;
}

.wrapper .formBox.register {
  position: absolute;
  transition: none;
  transform: translateX(450px);
}

.wrapper.active .formBox.register {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.wrapper .iconClose {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  background: var(--br-btn-color);
  font-size: 2em;
  color: var(--bg-OptimusT);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.wrapper .iconClose:hover {
  background: var(--optimus-primary);
}

.wrapper .iconClose i:hover {
  color: var(--title-color);
}

.wrapper .formBox h2 {
  font-size: 2em;
  color: var(--title-color);
  text-align: center;
}

.inputB {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid var(--br-btn-color);
  margin: 30px 0;
}

.inputB label {
  position: absolute;
  top: 20%;
  left: 40px;
  color: var(--title-color) !important;
  transform: translateX(-50%);
  font-size: 1em;
  color: 500;
  pointer-events: none;
  transition: 0.5s;
}

.inputB input:focus ~ label,
.inputB input:valid ~ label {
  top: -10px;
}

.inputB input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: var(--title-color);
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.inputB .icon .bi {
  position: absolute;
  top: 10px;
  right: 8px;
  font-size: 1.2rem;
  color: var(--optimus-primary);
}

.rememberForgot {
  font-size: 0.9em;
  color: var(--title-color);
  font-weight: 500;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

.rememberForgot label input {
  accent-color: var(--optimus-primary);
  margin-right: 3px;
}

.rememberForgot label,
a {
  color: var(--title-color);
}

.rememberForgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: var(--title-color);
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: var(--bg-OptimusT);
  font-weight: 500;
}

.btn:hover {
  background: var(--optimus-primary);
  color: var(--title-color);
}

.logiRegister {
  font-size: 0.9em;
  color: var(--title-color) !important;
  text-align: center;
  font-weight: 500;
  margin: 24px 0 10px;
}

.logiRegister p a {
  color: var(--title-color);
  text-decoration: none;
  font-weight: 600;
}

.logiRegister p a:hover {
  color: var(--optimus-primary);
  text-decoration: underline;
}
