@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* colores y configuracion estandar */
@import url("Color-StandardSettings.css");
/* importacion de styles del header */
@import url("header.css");
/* importacion de styles del footer */
@import url("footer.css");

.container-fluid {
  margin: 0;
  padding: 0;
}

section.row {
  height: 960px;
}

video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  /* centra el video */
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /*  */
  z-index: -1;
}

section.sec02 {
  height: auto;
}

section.sec03 {
  height: auto;
  margin: 0 auto;
  padding: 30px 0px;
}

section.sec03 img {
  /* width: 100%; */
  max-height: 500px;
}

.div-img {
  display: flex;
  justify-content: center left;
  height: 500px;
}

.bo-temp iframe {
  position: absolute;
  z-index: 1;
  height: 700px;
  width: 100%;
}

div.cardAc {
  background-color: var(--br-btn-color);
  padding: 20px 0px;
  box-sizing: border-box;
  border-radius: 0.5rem !important;
}

.gridImg {
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 480px;
  transition: all 0.5s ease;
}

.yt-video {
  height: 500px;
  width: 100%;
  margin: 10px 0px;
}

.carousel-caption {
  position: absolute;
  bottom: 10rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: justify;
}

.carousel-control-prev {
  box-shadow: rgba(0, 0, 0, 0.35) 150px 0px 40px -40px inset;
}
.carousel-control-next {
  box-shadow: rgba(0, 0, 0, 0.35) -150px 0px 40px -40px inset;
}
