/*-------------- Css for all -----------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --optimus-primary: #1b5ec1;
  --optimus-secundary: #ff0033;
  --text-color: #555;
  --title-color: white;
}

* {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(#00112b, black);
  overflow-x: hidden;
}

/*-------------- Css for Header -----------------*/
header {
  position: fixed;
  width: 100%;
  z-index: 100000;
}

a {
  color: #555;
  text-decoration: none;
}

.lgtxt,
.redesIcon {
  color: var(--optimus-primary) !important;
}

/*-------------- Css for MAIN -----------------*/
/*-------------- Css for Seccion -----------------*/
.sec01 {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sec01::before {
  content: " ";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #00112b, transparent);
  z-index: 1000;
}

.sec01 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  pointer-events: none;
}

.sec01 img#moon {
  mix-blend-mode: screen;
}

.sec01 img#montainsFront {
  z-index: 9;
}

#txtBrand {
  position: absolute;
  right: -400px;
  color: var(--title-color);
  white-space: nowrap;
  font-size: 7.5vh;
  z-index: 9;
}

#btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: var(--title-color);
  color: var(--optimus-primary);
  font-size: 1.5rem;
  z-index: 9;
  transform: translateY(100px);
}

/*-------------- Css for Header -----------------*/
.dropdown-menu.show {
  width: 20rem;
}
/*-------------- Css for Footer -----------------*/

ul li {
  list-style: none;
}

.line-divider {
  border-bottom: 0.2rem solid var(--optimus-primary);
  box-shadow: 0 0.2rem 0.6rem var(--optimus-primary);
  margin: 1rem 0;
}

@media (max-width: 992px) {
  .text {
    text-align: center !important;
  }
}

@media (max-width: 767px) {
  .text {
    text-align: center;
    font-size: larger;
  }
  .line-divider {
    border-bottom: 0.2rem solid var(--optimus-primary);
    box-shadow: 0 4px 1rem var(--optimus-primary);
    margin: 1rem 0;
  }
}
