/*-------------- Css for all -----------------*/
:root {
  --optimus-primary: #1b5ec1;
  --optimus-secundary: #ff0033;
  --text-color: #555;
  --title-color: white;
}

* {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: black;
}

a {
  color: #555;
  text-decoration: none;
}
.lgtxt,
.redesIcon {
  color: var(--optimus-primary) !important;
}

/*-------------- Css for MAIN -----------------*/

/*-------------- Css for Header -----------------*/
.dropdown-menu.show {
  width: 20rem;
}
/*-------------- Css for Footer -----------------*/

ul li {
  list-style: none;
}

.line-divider {
  border-bottom: 0.2rem solid var(--optimus-primary);
  box-shadow: 0 0.2rem 0.6rem var(--optimus-primary);
  margin: 1rem 0;
}

@media (max-width: 992px) {
  .text {
    text-align: center !important;
  }
}

@media (max-width: 767px) {
  .text {
    text-align: center;
    font-size: larger;
  }
  .line-divider {
    border-bottom: 0.2rem solid var(--optimus-primary);
    box-shadow: 0 4px 1rem var(--optimus-primary);
    margin: 1rem 0;
  }
}
