@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* colores y configuracion estandar */
@import url("Color-StandardSettings.css");
/* importacion de styles del header */
@import url("header.css");
/* importacion de styles del footer */
@import url("footer.css");

html {
  scroll-behavior: smooth;
}



/*Main*/
.MobileSecOne {
    height: 700px;
  }
  div.Mobiletitle {
    background-image: url(../img/Mobile/bg-mobile-titlt.jpg);
    background-size: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--title-color);
  }
  h1.MobiletextTitle {
    position: relative;
    bottom: 55px;
    text-shadow: 3px 2px 3px blue;
    font-size: 70px;
  }
  /*High Range*/
/*Seccion 3*/
 section.MobileSecThree{
  
    height: 700px;
    max-width: 100%;
 } 
 div.bgImg1{
    background-image: url(../img/Mobile/bg-section3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }

 .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: solid ;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor:move;
    margin: 5px;
    position: relative;
    left: 530px;
    top:450px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

/*Seccion 3*/


/*Seccion 4*/

.MobileSeccion4col1{
  font-size: larger;
  display: inline-block;
  height: 600px;
  width: 600px;
  background-image: url(../img/Mobile/bg-product1section4.jpg);
  
  margin-top: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
  
}
.MobileSeccion4col2{
  font-size: larger;
  display: inline-block;
  height: 600px;
  width: 600px;
  background-image: url(../img/Mobile/bg-product2section4.jpg);
  margin-top: 50px;
  margin-left: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90%;

}

.MobileSeccion4col3{
  font-size: larger;
  display: inline-block;
  height: 600px;
  width: 600px;
  background-image: url(../img/Mobile/bg-product3.1section4.jpg);
  margin-top: 50px;
  margin-left: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90%;
}
.MobileSeccion4col4{
  font-size: larger;
  display: inline-block;
  height: 600px;
  width: 600px;
  background-image: url(../img/Mobile/bg-product4section4.jpg);
  margin-top: 50px;
  margin-left: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90%;
}

/*Seccion 4*/

/*Medium Range*/
/*Seccion 6*/
section.Mobilseccion6{
  
    height: 700px;
    max-width: 100%;
 } 
 div.bgImg2{
    background-image: url(../img/Mobile/bg-section6.1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }

 /*Seccion 7*/
 .MobileSeccion7col1{
  font-size: larger;
  display: inline-block;
  height: 600px;
  width: 600px;
  background-image: url(../img/Mobile/bg-product2.1section7.jpg);
  margin-top: 50px;
  margin-left: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90%;
}


.MobileSeccion7col2{
  font-size: larger;
  display: inline-block;
  height: 600px;
  width: 600px;
  background-image: url(../img/Mobile/bg-product3section7.jpg);
  margin-top: 50px;
  margin-left: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90%;
}

.MobileSeccion7col3{
  font-size: larger;
  display: inline-block;
  height: 600px;
  width: 600px;
  background-image: url(../img/Mobile/bg-product3section4.jpg);
  margin-top: 50px;
  margin-left: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90%;   
}

.MobileSeccion7col4{
  font-size: larger;
  display: inline-block;
  height: 600px;
  width: 600px;
  background-image: url(../img/Mobile/bg-product1section7.jpg);
  margin-top: 50px;
  margin-left: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 45%;   
}

/*seccionn 9*/
section.Mobileseccion9{
  
    height: 700px;
    max-width: 100%;
 } 
 div.bgImg3{
    background-image: url(../img/Mobile/bg-section9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }

 .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: solid ;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor:move;
    margin: 5px;
    position: relative;
    left: 530px;
    top:450px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  /*Prueba*/
  .MobileSeccionX{
    display: inline-block;
    height: 500px;
    width: 500px;
    background-image: url(../img/Mobile/bg-product1section7.jpg);
    
    margin-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40%;
    
  }
  .MobileSeccionX2{
    
    display: inline-block;
    height: 500px;
    width: 500px;
    background-image: url(../img/Mobile/bg-product3section7.jpg);
    margin-top: 50px;
    margin-left: 0px;
    background-repeat: no-repeat;
    background-size: cover;

  }
  
  

  