@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* colores y configuracion estandar */
@import url("Color-StandardSettings.css");
/* importacion de styles del header */
@import url("header.css");
/* importacion de styles del footer */
@import url("footer.css");

html {
  scroll-behavior: smooth;
}



/*Main*/
.MobileSecOne {
    height: 700px;
  }
  div.Mobiletitle {
    background-image: url(../img/Mobile/bg-title-mobile.jpg);
    background-size: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--title-color);
  }
  h1.MobiletextTitle {
    position: relative;
    bottom: 55px;
    text-shadow: 3px 2px 3px #ff0033;
    font-size: 70px;
  }