/* @import url("Color-StandardSettings.css"); */
.imdBg {
  background-color: var(--optimus-primary);
  margin: 0 auto;
  width: 90%;
  height: 300px;
}
body {
  min-width: 550px;
}
.opinions {
  position: absolute;
  margin: 0 auto;
  padding: 50px 150px 0 150px;
  width: 100%;
  text-align: center;
  color: var(--title-color);
}

.opinions .bi {
  font-size: 30px;
  color: var(--optimus-primary);
}

@media (max-width: 770px) {
  .opinions {
    top: 20px;
    padding: 0 40px;
    font-size: 14px;
  }
  div.text-center h1 {
    font-size: 35px;
  }
}
